<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-09-03T15:45:03Z</date>
	<key>WorkspacePath</key>
	<string>/Users/Stepostap/Developer/MeetMe/MeetMe/MeetMe.xcworkspace</string>
</dict>
</plist>
